@media screen and (min-width: 800px) {

    .menu{
        padding: 100px 100px;
    }

    .header{
        border: #F08080 solid 2px;
        display: inline-flex;
        flex: fit-content;
        padding: 1%;
        border-radius: 50px;
        background: #F08080;
        text-decoration: none;
        color: #FFF0F5;
        font-size: 20px;
        font-weight: bolder;
}
    .header:hover{
        border: #F08080 solid 2px;
        background: #FFF0F5;
        color: #F08080;
        box-shadow: 10px 10px 15px pink;
    }

    .headerIcon{
        font-size: 25px;
        padding-left: 5px;
        color: black;
    }

    .product-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 56px;
        gap: 30px 10px;
    }

    .product-main a{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        height: 350px;
        width: 300px;
        border: #2E71D1 5px solid;
        border-radius: 50px;
        padding: 20px;
        text-decoration: none;
        color: black;

    }

    .product-main a:hover{
        box-shadow: 10px 1px 10px #6596DC;
    }

    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .product-img{
        height: 120px;
        width: min-content;
        padding: 20px;

    }

    .product-main img{
        height: 100%;
        width: min-content;

    }

    .product-content{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 10%;
    }

    .product-header{
        font-weight: bolder;
        color: #602DD2;
    }

    .product-price{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: min-content;
        padding: 5px 10px;
        border-radius: 30px;
        background: #ADADAD;
        border: #ADADAD solid 1px;
        margin-top: 20px;
        font-size: small;
        font-weight: bold;
    }

    .product-category{
        font-weight: bold;
        font-size: 12px;
        margin: 20px auto 0 auto;
        padding: 5px 15px;
        background:  #5F02A1;
        border-radius: 50px 30%;
        color: #FFF0F5;
    }

    .productDetailContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 56px;
        gap: 30px 10px;
    }

    .productDetailColumn{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 400px;
        width: 100%;
        padding: 20px;
    }

    .productDetailMiddleRow{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }

    .productDetailDivider{
        width: 0.1%;
        margin: 2%;
        background: #ADADAD;
    }

    .productDetailColumnLeft{
        height: 100%;
        width: min-content;
    }

    .productDetailColumnLeft img{
        height: 100%;
        width: fit-content;

    }
    .productDetailColumnRight{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .product-details-header{
        font-weight: bolder;
    }

    .product-details-price{
        padding: 5px 10px;
        border-radius: 30px;
        font-size: small;
        font-weight: bold;
    }

    .product-details-category{
        font-weight: bold;
        font-size: 12px;
        margin: 10px 25%;
        padding: 5px 15px;
        background:  #5F02A1;
        border-radius: 50px 30%;
        color: #FFF0F5;
    }

    .go-back{
        float: right;
    }

    .error-back{
        float: right;
        border: #F08080 solid 2px;
        padding: 2%;
        border-radius: 50px;
        background: #F08080;
        text-decoration: none;
        color: #FFF0F5;
        font-size: 20px;
        font-weight: bolder;
    }

    .error-back:hover{
        border: #F08080 solid 2px;
        background: #FFF0F5;
        color: #F08080;
        box-shadow: 10px 10px 15px pink;
    }

    .loading{
        border: black solid 2px;
        display: flex;
        justify-content: center;
        padding: 1%;
        border-radius: 50px;
        background: #F08080;
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-weight: bolder;
    }

    .error-page{
        display: flex;
        flex-direction: column;
        text-align: center;
        color: black;
        font-size: 20px;
        font-weight: bolder;
    }


}

@media screen and (max-width: 800px) and (min-width: 600px) {


}

@media screen and (max-width: 600px) and (min-width: 400px) {


}